absl-py==2.3.1
AFMReader==0.0.6
anyio==4.12.1
art==6.5
asttokens==3.0.1
astunparse==1.6.3
attrs==25.4.0
backports.tarfile==1.2.0
beautifulsoup4==4.14.3
biopython==1.86
black==25.12.0
bleach==6.3.0
build==1.4.0
CacheControl==0.14.4
cellpose==4.1.1
certifi==2026.1.4
cfgv==3.5.0
charset-normalizer==3.4.4
cheap_repr==0.5.2
cleo==2.1.0
click==8.3.1
colorama==0.4.6
contourpy==1.3.3
crashtest==0.4.1
cycler==0.12.1
decorator==5.2.1
defusedxml==0.7.1
distlib==0.4.0
docstring_parser==0.17.0
dulwich==0.24.10
et_xmlfile==2.0.0
executing==2.2.1
fastjsonschema==2.21.2
fastremap==1.18.0
filelock==3.20.3
fill_voids==2.1.1
findpython==0.7.1
flatbuffers==25.12.19
fonttools==4.61.1
fsspec==2026.3.0
gast==0.7.0
google-pasta==0.2.0
grpcio==1.76.0
h11==0.16.0
h5py==3.15.1
httpcore==1.0.9
httpx==0.28.1
identify==2.6.16
idna==3.11
igor2==0.5.12
imagecodecs==2026.3.6
ImageIO==2.37.2
importlib_metadata==8.7.1
iniconfig==2.3.0
installer==0.7.0
ipython==8.38.0
jaraco.classes==3.4.0
jaraco.context==6.1.0
jaraco.functools==4.4.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyterlab_pygments==0.3.0
keras==3.13.1
keyring==25.7.0
kiwisolver==1.4.9
lazy_loader==0.4
libclang==18.1.1
librt==0.7.8
llvmlite==0.46.0
loguru==0.7.3
magicgui==0.10.1
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mistune==3.2.0
ml_dtypes==0.5.4
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
mypy==1.19.1
mypy_extensions==1.1.0
namex==0.1.0
narwhals==2.15.0
natsort==8.4.0
nbclient==0.10.4
nbconvert==7.16.6
nbformat==5.10.4
networkx==3.6.1
nodeenv==1.10.0
numba==0.63.1
numpy==2.0.2
numpyencoder==0.3.2
opencv-python==4.12.0.88
opencv-python-headless==4.13.0.92
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.18.0
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
pathspec==1.0.3
pbs-installer==2025.12.17
pillow==11.1.0
pkginfo==1.12.1.2
platformdirs==4.5.1
plotly==6.5.2
pluggy==1.6.0
poetry-core==2.2.1
pre_commit==4.5.1
prompt_toolkit==3.0.52
protobuf==6.33.4
psutil==5.9.8
psygnal==0.15.1
pure_eval==0.2.3
pyconify==0.2.1
pyFFTW==0.15.1
Pygments==2.19.2
pyparsing==3.3.1
pyproject_hooks==1.2.0
pyspm==0.6.3
pytest==9.0.2
python-dateutil==2.9.0.post0
pytokens==0.3.0
pytz==2025.2
pywin32-ctypes==0.2.3
PyYAML==6.0.3
pyzmq==27.1.0
QtPy==2.4.3
RapidFuzz==3.14.3
referencing==0.37.0
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.2.0
roifile==2026.2.10
rpds-py==0.30.0
ruamel.yaml==0.19.1
ruff==0.14.11
schema==0.7.8
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.17.0
seaborn==0.13.2
segment-anything==1.0
shellingham==1.5.4
six==1.17.0
skan==0.13.0
snoop==0.6.0
soupsieve==2.8.1
stack-data==0.6.3
superqt==0.7.7
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.3.0
threadpoolctl==3.6.0
tifffile==2026.1.14
tinycss2==1.4.0
tomlkit==0.14.0
toolz==1.1.0
topoly==1.1.0
topostats==2.4.0
torch==2.11.0
torchvision==0.26.0
tornado==6.5.4
tqdm==4.67.1
traitlets==5.14.3
trove-classifiers==2026.1.14.14
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
virtualenv==20.36.1
wcwidth==0.2.14
webencodings==0.5.1
Werkzeug==3.1.5
win32_setctime==1.2.0
wrapt==2.0.1
zipp==3.23.0
zstandard==0.25.0
